<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change my mail</title>
    <link rel="stylesheet" href="static/change_email.css" type="text/css">
    <script type=text/javascript src="/static/js/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="header">
        <div id="mess"><a id="a_mess" href="{{ url_for('messenger') }}">MessFree</a></div>
        <div class="login"><h5><a href="{{ url_for('exit')}} ">Выйти</a></h5></div>
        <div class="uspg"><a id="user_page" href="{{ url_for('user_page') }}">Аккаунт</a></div>
    </div>

    <div class="content">
        <form action="/ce" method="POST" role="form">
            <label for="email">Новый e-mail</label>&nbsp;&nbsp;
            <input type="text" name="email">
            <br>
            <br>
            <div id="button"><input type="button" value="Изменить" onclick="change_email();"></div>
        </form>
        <br>
        <br>
        <div id="message"></div>
    </div>
    <script src="static/js/change_email.js"></script>
    <script>
        $('input').keydown(function(e) {
            if(e.keyCode === 13) {
                e.preventDefault();//убрал стандартную обработку enter-a
                change_email()
            }
        });
    </script>
</body>
</html>